.phone {
    flex-shrink: 0;
    box-shadow: 0 0 20px 10px rgba(0,0,0,.2);
    width: 385px;
    height: 680px;
    margin-top: 15px;
    padding: 5px;
    border-radius: 25px;
    background: #000;
    align-self: center;
    margin-left: 60px;
    position: relative;
    margin-right: -10px;
    box-sizing: border-box;
}
.screen{
    width: 365px;
    height: 660px;
    margin: 5px auto;
    border-radius: 25px;
    background:#fff;

}
.navbar{
    height:60px;
}
#app{
    height: 660px;
}
.img-thumb{
    height:93px;
    width:93px;
    background:grey;
    margin:2px;
    background-size: cover;
}
.footer{
    position: relative;
    margin-top:10px;
}
.checkouttxt{
    margin:0.5rem;
}
.hidden{
    display:none;
}
.scrollbox{
    height:520px;
    overflow:auto;
}
.undo{
    color:white!important;
}
.control-wrapper{
    position: fixed;
    left: 70px;
    top: 605px;
    width: 365px;
    height: 80px;
    border-radius: 0 0 20px 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 40px;
    width: 40px;
}
.carousel-indicators{
    width: 250px;
    margin: 0;
    position: fixed;
    left: 130px;
    top: 635px;
}